#####################################
# Environment variables for Lodestar Forge
# It is suggested that secrets are generated with: openssl rand -hex 32
#####################################

#####################################
# Nucleus (API)
#####################################

NUCLEUS_PORT=4000
NUCLEUS_SECRET=REPLACE_WITH_SECRET_STRING

#####################################
#  Command (Web Application)
#####################################

COMMAND_HOSTNAME=localhost
COMMAND_PORT=3000
COMMAND_SECRET=REPLACE_WITH_SECRET_STRING
COMMAND_LISTEN_ADDR=0.0.0.0

#####################################
# Store (Database)
#####################################

POSTGRES_DB=forge
POSTGRES_USER=postgres
POSTGRES_PASSWORD=REPLACE_WITH_SECRET_STRING
STORE_ENCRYPTION_KEY=REPLACE_WITH_SECRET_STRING

#####################################
# Radar (Domain & DNS Manager)
#####################################

VT_API_KEY=YOUR_VIRUS_TOTAL_API_KEY
